<h1 class="cover-heading">Contact</h1>

<hr />

<div class="inner cover">
  <div class="row">
    
    <div class="col-xs-12 col-md-6">
      <h4>Phone</h4>
      <p class="lead">2062717999</p>
      <h4>Email</h4>
      <p class="lead">paulnewland@hotmail.com</p>
    </div>
    
    <div class="col-xs-12 col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2692.209202848737!2d-122.1867619490244!3d47.56371789883066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490695c925a9689%3A0xcaa9bbe4679bad08!2s4612+116th+Ave+SE%2C+Bellevue%2C+WA+98006!5e0!3m2!1sen!2sus!4v1497930587304" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  
  </div>
</div>