<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This is my portfolio where I feature some of the work that I've done and also blog about various web development-related (or not) thoughts I have about things.</p>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>